<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">    
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();
        socket.on('productosWs', data => {
            productosWs = JSON.stringify(data);            
        });

        function enviarProducto(e){            
            let producto = {
                title: document.getElementById("title").value, 
                price: document.getElementById("price").value, 
                thumbnail: document.getElementById("thumbnail").value
            }
            socket.emit('producto-nuevo', producto);
        }

        var template = Handlebars.compile(`
            {{# each mensajes }}
                <p class="text-muted m-0">
                        <span class="font-weight-bold text-primary">{{ this.email }}</span>
                        <span style="color:brown;">[{{this.hora}}]</span>
                        <span class="font-italic text-success">{{ this.mensaje }}</span>
                </p>            
            {{/each}}            
        `)

        function addAllMessages(data) {            
            document.getElementById('mensajes').innerHTML = template({ mensajes: data.mensajes});
        }

        function addNewMessage(listaMensajes) {            
            document.getElementById("mensajes").innerHTML +=  template({ mensajes: listaMensajes });
        }

        function enviarMensaje() {
            let hora = moment().format('DD/MM/YYYY HH:mm:ss');
            let mensaje = document.getElementById('mensaje').value;
            let email = document.getElementById('email').value;
            if (email.length > 1) {
                socket.emit('nuevo-mensaje', {
                    email: email,
                    hora: hora,
                    mensaje: mensaje
                })
            } else {
                alert('Debe ingresar un email')
            }
        }

        socket.on(`mensajes`, function(data) {                       
            addAllMessages(data)
        })

        socket.on('recibir nuevoMensaje', function(listaMensajes) {                                 
            addNewMessage(listaMensajes)
        })

    </script>

    <title>Websocket</title>
</head>

<body>
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title mt-5">
                <h1 class="wv-heading--title">
                    Websocket
                </h1>
            </div>
        </div>
        {{{ body }}}
    </div>

</body>

</html>